thead>tr{
  background-color: #75A2D0;
}
.custom-table{
  border-radius: 10px; /* Đường cong của viền bảng */
}
.img-sp{
  width: 3.5rem;
}
tr{
  font-size: 0.7rem;
}
tr>td, tr>th{
  text-align: center !important;
  vertical-align: middle !important;
}
td>span{
  color: #3BD901;
}
td>a:hover{
  text-decoration: underline;
  color: #0C2F4E;
}
.col-md-9 h2{
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
    text-align: left; /* căn lề trái cho tiêu đề h2 */
    margin-left: 0.5rem; /* đặt lề trái về 0 */
  margin-bottom: 0;
}
/* line */
.custom-div {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
}

.custom-line {
  width: 90px;
  height: 3px;
  position: relative;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.custom-line:nth-child(odd) {
  background: #60A3E7;
}

.custom-line:nth-child(even) {
  background: #0C2F4E;
}
/* endline */
.accout-user{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.accout-user img{
  width: 3rem;
  border-radius: 50%;
}
.username{
  font-size: 1.2rem;
}
.sidebars{
  background-color: #d8d8d8;
  border-radius: 0.4rem;
  margin-top: 2px;
}
.sidebar{
  margin-top: 2rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.sidebar-item i{
  font-size: 1.7rem;
}
.mrt12{
  margin-bottom: 0.2rem;
  border: none !important;
}
.nice-select{
  width: fit-content !important;
}
.sidebar-item{
  margin-bottom: 2px;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  font-size: 0.8rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.sidebar-item:first-child{
  margin-top: 5px;
}
.sidebar-item:hover{
  background-color: #0C2F4E;
  color: white;
  transition: 0,5s;
  border-radius: 0.74rem;
}